#include "winresrc.h"
/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
BORKED3DS_ICON              ICON                    "../../dist/borked3ds.ico"


/////////////////////////////////////////////////////////////////////////////
//
// RT_MANIFEST
//

0                       RT_MANIFEST             "../../dist/borked3ds.manifest"
